[Unit]
Description=Set a random wallpaper

[Service]
Type=oneshot
ExecStart=%h/.config/ml4w/scripts/ml4w-wallpaper --random
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
